# 27.10.2018

In [1]:
import pandas as pd
import numpy as np

In [2]:
oceny = pd.read_csv("/home/natalia/Dokumenty/Repozytorium od zajęć 3/bootcamp-2018-09/CzyszczenieDanych/AiSD2.csv", skipinitialspace = True)
oceny

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5)
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NaN
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NaN
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NaN
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NaN
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN
5,Bartłomiej,Wójcik,2.0+1.0,2.0+1.0,2.5+0.5,1.5+1.5,0.5+1.0,1.75+0.5,0.0+1.0,1.5+1.0,4.0+1.0,ZW+ZW,0.5+1.0,3.0+0.0,4.0+1.0,3.5+0.0,NaN
6,Łukasz,Kamiński,4.0+1.0,2.0+1.0,3.5+1.0,1.5+0.5,1.5+0.5,US+1.0,0.5+1.0,2.0+1.0,3.5+1.0,2.0+0.0,0.5+0.5,3.0+1.0,2.0+1.0,4.0+1.0,NaN
7,Oskar,Kowalczyk,4.0+0.5,4.0+1.0,2.0+1.0,4.0+2.0,2.0+1.0,1.5+0.0,1.0+1.0,4.0+1.0,4.0+1.0,1.0+0.5,0.0+NB,3.5+1.0,4.0+1.0,3.0+0.0,NaN
8,Joanna,Zielińska,2.5+0.0,US+US,0.5+0.0,1.0+0.0,0.5+1.0,1.0+0.0,0.5+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN
9,Oktawia,Szymański,2.5+1.0,0.0+0.0,1.0+0.5,0.0+1.5,0.5+0.5,NB+NB,0.0+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN
10,Patryk,Woźniak,2.0+1.0,4.0+1.0,2.5+1.0,3.0+2.0,1.0+0.5,1.0+0.5,1.0+0.5,2.0+1.0,4.0+1.0,2.0+0.5,4.0+1.0,4.0+1.0,2.0+0.0,4.0+1.0,NaN

In [3]:
oceny["Nazwisko"]

0           Nowak
1        Kowalski
2      Wiśniewski
3       Dąbrowski
4     Lewandowski
5          Wójcik
6        Kamiński
7       Kowalczyk
8       Zielińska
9       Szymański
10        Woźniak
Name: Nazwisko, dtype: object

## Maile studentów

In [4]:
oceny["Maile"] = oceny.Nazwisko + oceny.Imię.str[0:1] + "@student.mini.pw.edu.pl"
oceny.Maile = oceny.Maile.str.lower()

ltrPL = "ŻÓŁĆĘŚĄŹŃżółćęśąźń"
ltrnoPL = "ZOLCESAZNzolcesazn"
trantab = str.maketrans(ltrPL, ltrnoPL)
trantab

{379: 90,
 211: 79,
 321: 76,
 262: 67,
 280: 69,
 346: 83,
 260: 65,
 377: 90,
 323: 78,
 380: 122,
 243: 111,
 322: 108,
 263: 99,
 281: 101,
 347: 115,
 261: 97,
 378: 122,
 324: 110}

In [11]:
oceny.Maile = oceny.Maile.str.translate(trantab)

In [12]:
oceny.head()

,Imię,Nazwisko,Z1(4+1),Z2(4+1),Z3(4+1),Z4(4+1),Z5(2+2),Z6(4+1),Z7(4+1),Z8(4+1),Z9(4+1),Z10(4+1),Z11(4+1),Z12(4+1),Z13(5),Z14(4+1),Z15(5),Maile
0,Anna,Nowak,2.5+1.0,4.0+1.0,2.0+0.0,1.0+2.0,1.5+2.0,2.0+0.0,0.0+NB,1.5+1.0,3.5+0.5,2.0+0.0,0.5+1.0,ZW+ZW,4.0+0.0,4.0+1.0,NaN,nowaka@student.mini.pw.edu.pl
1,Rafał,Kowalski,3.0+0.0,2.0+0.5,2.0+1.0,1.5+1.5,2.0+1.0,1.0+0.5,0.0+NB,3.0+1.0,3.5+1.0,0.0+NB,1.0+1.0,NS.(3.0)+NS.(1.0),4.0+0.0,4.0+1.0,NaN,kowalskir@student.mini.pw.edu.pl
2,Pavlo,Wiśniewski,2.5+0.5,US+1.0,2.5+1.0,1.5+1.5,2.0+1.5,3.5+0.0,1.0+1.0,3.0+1.0,3.5+1.0,ZW+ZW,1.0+0.5,3.5+1.0,4.0+1.0,4.0+1.0,NaN,wisniewskip@student.mini.pw.edu.pl
3,Aleksy,Dąbrowski,0.5+1.0,1.0+1.0,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NA+NA,NaN,dabrowskia@student.mini.pw.edu.pl
4,Jarosław,Lewandowski,2.0+0.0,3.0+1.0,1.0+0.0,1.5+1.5,0.5+0.0,1.25+0.0,0.0+NB,2.5+0.0,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NB+NB,NaN,lewandowskij@student.mini.pw.edu.pl

In [13]:
import re

pattern = r"Z(\d+)\((\d+)\+(\d+)\)"
re.findall(pattern, "Z12(43+56) Z2(34+12))")

[('12', '43', '56'), ('2', '34', '12')]

In [14]:
oceny2 = oceny.copy()

oceny2 = oceny2.rename(columns = {"Z13(5)":"Z13(4+1)"})

del oceny2['Z15(5)']

for col in oceny2.columns:
    if '+' in col:
        name_extr = re.findall(pattern, col)
        col0_name = "Z"+name_extr[0][0]+"("+name_extr[0][1]+")"
        col1_name = "Z"+name_extr[0][0]+"("+name_extr[0][2]+")"
        oceny2[col0_name] = oceny2[col].str.split("+", expand = True).loc[:,0]
        oceny2[col1_name] = oceny2[col].str.split("+", expand = True).loc[:,1]
        del oceny2[col]
        
oceny2

,Imię,Nazwisko,Maile,Z1(4),Z1(1),Z2(4),Z2(1),Z3(4),Z3(1),Z4(4),...,Z10(4),Z10(1),Z11(4),Z11(1),Z12(4),Z12(1),Z13(4),Z13(1),Z14(4),Z14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,2.0,0.0,0.5,1.0,ZW,ZW,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,0.0,NB,1.0,1.0,NS.(3.0),NS.(1.0),4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,US,1.0,2.5,1.0,1.5,...,ZW,ZW,1.0,0.5,3.5,1.0,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,ZW,ZW,0.5,1.0,3.0,0.0,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,2.0,0.0,0.5,0.5,3.0,1.0,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,0.5,0.0,NB,3.5,1.0,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,US,US,0.5,0.0,1.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,NB,NB,NB,NB,NB,NB,NB,NB,NB,NB
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,2.0,0.5,4.0,1.0,4.0,1.0,2.0,0.0,4.0,1.0

## Oceny studentów

In [21]:
oceny2 = oceny2.replace(['NA', r'NS.+', 'NB'], '0', regex=True)
oceny2 = oceny2.replace(['US','ZW'], np.NaN, regex=True)

oceny2

,Imię,Nazwisko,Maile,Z1(4),Z1(1),Z2(4),Z2(1),Z3(4),Z3(1),Z4(4),...,Z10(4),Z10(1),Z11(4),Z11(1),Z12(4),Z12(1),Z13(4),Z13(1),Z14(4),Z14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,2.0,0.0,0.5,1.0,NaN,NaN,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,0.0,0,1.0,1.0,0,0,4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,NaN,1.0,2.5,1.0,1.5,...,NaN,NaN,1.0,0.5,3.5,1.0,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,0,0,0,0,0,0,0,0,0,0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,NaN,NaN,0.5,1.0,3.0,0.0,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,2.0,0.0,0.5,0.5,3.0,1.0,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,1.0,0.5,0.0,0,3.5,1.0,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,NaN,NaN,0.5,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,0,0,0,0,0,0,0,0,0,0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,2.0,0.5,4.0,1.0,4.0,1.0,2.0,0.0,4.0,1.0

In [25]:
oceny3 = oceny2.copy()
oceny3 = pd.concat([oceny2.iloc[:,0:3],oceny2.iloc[:,3:].astype(float)], axis=1)

for columnIndex in range(3, 30):
    for rowIndex in range(oceny3.shape[0]):
        if np.isnan(oceny3.iloc[rowIndex, columnIndex]):
            oceny3.iloc[rowIndex, columnIndex] = \
                np.mean(np.r_[oceny3.iloc[:, columnIndex].mean(),\
                              oceny3.iloc[rowIndex, 3:31].mean()])  
oceny3

,Imię,Nazwisko,Maile,Z1(4),Z1(1),Z2(4),Z2(1),Z3(4),Z3(1),Z4(4),...,Z10(4),Z10(1),Z11(4),Z11(1),Z12(4),Z12(1),Z13(4),Z13(1),Z14(4),Z14(1)
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.000000,1.00000,2.0,0.0,1.0,...,2.000000,0.000000,0.5,1.0,1.58,0.932308,4.0,0.0,4.0,1.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.000000,0.50000,2.0,1.0,1.5,...,0.000000,0.000000,1.0,1.0,0.00,0.000000,4.0,0.0,4.0,1.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,2.097222,1.00000,2.5,1.0,1.5,...,1.270833,0.928018,1.0,0.5,3.50,1.000000,4.0,1.0,4.0,1.0
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.000000,1.00000,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,0.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.000000,1.00000,1.0,0.0,1.5,...,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,0.0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.000000,1.00000,2.5,0.5,1.5,...,1.148542,0.825219,0.5,1.0,3.00,0.000000,4.0,1.0,3.5,0.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.000000,1.00000,3.5,1.0,1.5,...,2.000000,0.000000,0.5,0.5,3.00,1.000000,2.0,1.0,4.0,1.0
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.000000,1.00000,2.0,1.0,4.0,...,1.000000,0.500000,0.0,0.0,3.50,1.000000,4.0,1.0,3.0,0.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,1.334861,0.57567,0.5,0.0,1.0,...,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,0.0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.000000,0.00000,1.0,0.5,0.0,...,0.000000,0.000000,0.0,0.0,0.00,0.000000,0.0,0.0,0.0,0.0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.000000,1.00000,2.5,1.0,3.0,...,2.000000,0.500000,4.0,1.0,4.00,1.000000,2.0,0.0,4.0,1.0

In [42]:
wynik = oceny3.columns.str.extract("\((\d+)\)")[0].astype(float).sum()
oceny2["Procent"] = oceny3.agg("sum",axis=1)/wynik*100

oceny2["Oceny"] = pd.cut(oceny2.Procent, [0, 50, 60, 70, 80, 90, 100], labels=[2.0, 3.0, 3.5,4.0,4.5,5.0])
oceny2

,Imię,Nazwisko,Maile,Z1(4),Z1(1),Z2(4),Z2(1),Z3(4),Z3(1),Z4(4),...,Z11(4),Z11(1),Z12(4),Z12(1),Z13(4),Z13(1),Z14(4),Z14(1),Procent,Oceny
0,Anna,Nowak,nowaka@student.mini.pw.edu.pl,2.5,1.0,4.0,1.0,2.0,0.0,1.0,...,0.5,1.0,NaN,NaN,4.0,0.0,4.0,1.0,58.227325,3.0
1,Rafał,Kowalski,kowalskir@student.mini.pw.edu.pl,3.0,0.0,2.0,0.5,2.0,1.0,1.5,...,1.0,1.0,0,0,4.0,0.0,4.0,1.0,50.000000,2.0
2,Pavlo,Wiśniewski,wisniewskip@student.mini.pw.edu.pl,2.5,0.5,NaN,1.0,2.5,1.0,1.5,...,1.0,0.5,3.5,1.0,4.0,1.0,4.0,1.0,69.098617,3.5
3,Aleksy,Dąbrowski,dabrowskia@student.mini.pw.edu.pl,0.5,1.0,1.0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,5.223881,2.0
4,Jarosław,Lewandowski,lewandowskij@student.mini.pw.edu.pl,2.0,0.0,3.0,1.0,1.0,0.0,1.5,...,0,0,0,0,0,0,0,0,20.522388,2.0
5,Bartłomiej,Wójcik,wojcikb@student.mini.pw.edu.pl,2.0,1.0,2.0,1.0,2.5,0.5,1.5,...,0.5,1.0,3.0,0.0,4.0,1.0,3.5,0.0,57.796658,3.0
6,Łukasz,Kamiński,kaminskil@student.mini.pw.edu.pl,4.0,1.0,2.0,1.0,3.5,1.0,1.5,...,0.5,0.5,3.0,1.0,2.0,1.0,4.0,1.0,61.819747,3.5
7,Oskar,Kowalczyk,kowalczyko@student.mini.pw.edu.pl,4.0,0.5,4.0,1.0,2.0,1.0,4.0,...,0.0,0,3.5,1.0,4.0,1.0,3.0,0.0,70.149254,4.0
8,Joanna,Zielińska,zielinskaj@student.mini.pw.edu.pl,2.5,0.0,NaN,NaN,0.5,0.0,1.0,...,0,0,0,0,0,0,0,0,12.553032,2.0
9,Oktawia,Szymański,szymanskio@student.mini.pw.edu.pl,2.5,1.0,0.0,0.0,1.0,0.5,0.0,...,0,0,0,0,0,0,0,0,10.447761,2.0
10,Patryk,Woźniak,wozniakp@student.mini.pw.edu.pl,2.0,1.0,4.0,1.0,2.5,1.0,3.0,...,4.0,1.0,4.0,1.0,2.0,0.0,4.0,1.0,70.895522,4.0

In [35]:
oceny3.columns.str.extract("\((\d+)\)")[0].astype(float).sum()

67.0